body {
    background-image: url(https://c.wallhere.com/photos/b9/51/anime_anime_girls_original_characters_illustration_manga_fan_art_minimalism-1806487.jpg!d);
  }
  h1{ color: blueviolet;}
  p {color: rgb(107, 149, 233);
  font-size: 28px;}